@font-face {
  font-family: poggers;
  src: url(assets/Quicksand-Medium.ttf);
}
* {
  font-family: poggers;
}
body {
  min-height: 500px;
}

#logo {
  width: 50px;
  height: auto;
}

#quote {
  margin-top: 5%;
  text-align: center;
  justify-self: center;
  font-size: 25px;
}

#clockContainer {
  margin-top: 5%;
  display: grid;
  justify-content: center;
  width: 100%;
}

#clock {
  justify-self: center;
  font-size: 75px;
}

#input {
  margin-top: 3%;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#buttonContainer {
  width: 100%;
  display: grid;
  justify-content: center;
}

#button {
  justify-self: center;
}

.inputField {
  margin: 2%;
}


fieldset {
  width: 75vw;
  margin: 5em auto;
  padding: 2em;
  border: 3px groove #ececec;
  border-radius: 15px;
  border: none;
}
textarea {
  width: 75vw;
  min-height: 5em;
  display: block;
  border: 1px solid #999;
  border-radius: 20px;
}
button {
  display: block;
  margin: 1em 0 0;
  border: 1px solid dark;
  padding: 0.75em;
  line-height: 1;
  border-radius: 5px;
  font-size: 14px;
}
