#background {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-rows: 100%;
  justify-content: center;
  align-content: center;
}



#loadingGif {
  align-self: center;
  justify-self: center;
}
